


<div class="container main">


  <nav class="nav-h">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

	<h3> <%= @crm_app_name %></h3>
	<p>Main menu</p>
	<ul>
	  <li><a href="/contacts">View all contacts</a></li>
	  <li><a href="/contacts/new">Create new contact</a></li>

	  
	  <!-- please complete me with links to other actions -->
	</ul>
	<div class="row">
		<div class="four columns portfolio">
			<a class="image-link" href="images/backpacker.jpg"><img src="images/backpacker.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/desert_cycle.jpg"><img src="images/desert_cycle.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/italy_bikes.jpg"><img src="images/italy_bikes.jpg" /></a>
		</div>
	</div>
	
	<div class="row">
		<div class="four columns portfolio">
			<a class="image-link" href="images/on_safari.jpg"><img src="images/on_safari.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/overlook_mtn.jpg"><img src="images/overlook_mtn.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/paris_couple.jpg"><img src="images/paris_couple.jpg" /></a>
		</div>
	</div>
	
	<div class="row" style="margin-bottom: 10%;">
		<div class="four columns portfolio">
			<a class="image-link" href="images/single_rider.jpg"><img src="images/single_rider.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/sunset_beach.jpg"><img src="images/sunset_beach.jpg" /></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href="images/toes_sand.jpg"><img src="images/toes_sand.jpg" /></a>
		</div>
	</div>	
</div> 









