<h1>Create new Contact</h1>

<form action="/contacts" method="post">
 Frist Name <input type="text" name="first_name">
 Last Name <input type="text" name="last_name">
 Email <input type="text" name="email">
 Note <input type="text" name="note">
  <input type="submit" name="Submit">
</form>